
header {
  display: flex; 
  justify-content: space-between;
  padding: 0 2rem;
  color: white;
  background: rgb(51, 114, 165);
}

header nav ul {
  display: flex;
  padding: 0;
  margin-top: 30px;
}

header nav ul li {
  list-style-type: none;
  margin-left: 15px;
}

.imgOfMe {
  border-radius: 50%;
  border: 2px solid rgb(51, 114, 165);
  width: 25%;
  margin-bottom: 10px;
}

.aboutMe {
  line-height: 30px;
  font-size: 18px;
  width: 80%;
  text-align: left;
  margin: 0 auto;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 350px;
  margin: 2rem auto;
}

form input {
  height: 30px;
  margin-bottom: 10px;
  padding: 5px;
}

button {
  width: 20%;
  margin: 10px auto;
  padding: 5px;
  background-color: rgb(51, 114, 165);
  border: none;
  border-radius: 4px;
  color: white;
}

form textarea {
  padding: 5px;
  resize: none;
  height: 150px;
}

footer {
  width: 100%;
  background: rgb(51, 114, 165);
  position: absolute;
  bottom: 0;
  left: 50;
  right: 50;
}

footer p {
  color: white;
  padding: 15px 0;
  text-align: center;

}